* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.App {
  width: 80vw;
  height: auto;
  min-height: 80vh;
  margin: 0 auto;
  text-align: center;
  background-color: #185adb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  border-radius: 15px;
}

.App h1 {
  font-size: 4vw;
  color: #f5f5f5;
}

.App p {
  font-size: .7vw;
  margin-top: -2vh;
  margin-bottom: 2vh;
  color: #f5f5f5;
}